.footer {
  background: #151d27;
  color: #ffffff;
  padding: 20px 0;
  font-family: system-ui, sans-serif;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 35px;
}

.versions {
  display: flex;
  gap: 10px;
}

.tag {
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
}

.tag.lts {
  background: #0ea5e9; 
  color: #ffffff;
}

.tag.latest {
  background: #4ade80; 
  color: #ffffff;
}

/* Enlaces */
.links {
  display: flex;
  gap: 25px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

.links a:hover {
  opacity: 1;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons img {
  width: 22px;
  height: 22px;
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

.icons img:hover {
  opacity: 1;
}


@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
    gap: 20px;
  }

  .links {
    flex-direction: column;
    gap: 10px;
  }
}
