.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #111827;
    border-bottom: 1px solid #e8e8e8;
    font-family: "Inter", sans-serif;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 30px; /* separación entre logo y menú */
}

/* LOGO */
.logo {
    width: 80px;
    height: auto;
}

/* MENU */
.navbar-menu {
    display: flex;
    align-items: center;
    gap: 25px; /* separación entre elementos del menú */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    font-size: 16px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 6px;
    transition: background 0.2s ease;
}

.navbar-menu li:hover {
     background-color: #111827;
}

.buscador{
    padding: 6px 14px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #9fdcff;
    outline: none;
}