main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;

  max-width: 1250px;
  margin: 120px auto;
  padding: 0 20px;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}
